{{!-- header container with burger icon and save form --}}
<div class="container text-center bg-dark">

    <div class="row">

        <div class="col-sm-12">

            {{!-- burger image --}}
            <img src="/assets/img/burger.jpg" alt="burger drawing" width="200" height="200" id="burgerIMG">
            <br>
            <h3 class="text-light">Enter the name of a burger you'd like to add to your Burger Prey list.</h3>
            <br>
            {{!-- save new burger form --}}
            <form class="save-form">

                <div class="form-group">
                    <textarea class="form-control text-center" id="burger" name="name"
                        placeholder="Your Burger Here"></textarea>
                    <br>
                    <button type="submit" class="btn btn-secondary">Save Burger</button>
                </div>



            </form>

        </div>

    </div>
    <br>
    <br>

</div>



{{!-- container for burgers added and burgers devoured --}}
<div class="container bg-dark">

    <div class="row">

        <div class="col-lg-6">

            <table class="table table-dark table-borderless text-center" id="uneatenBurgers">

                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="h2">Burger Prey</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <tr>
                        <th scope="row"></th>

                        <td>

                            {{id}}. {{burger_name}}

                        <td>
                            <button data-id="{{id}}" data-devoured="true"
                                class="btn btn-secondary devour">Devour!</button>
                        </td>
                    </tr>
                    {{/unless}}
                    {{/each}}
                </tbody>
            </table>

        </div>

        <div class="col-lg-6">

            <table class="table table-dark table-borderless text-center" id="eatenBurgers">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="h2">RIP... These burgers were devoured</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each burgers}}
                    {{#if devoured}}
                    <tr>
                        <th scope="row"></th>

                        <td>

                            {{id}}. {{burger_name}}

                        </td>

                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>

        </div>

    </div>

</div>