{{!-- header container with burger icon and save form --}}
<div class="container text-center">

    <div class="row">

        <div class="col-sm-12">

            {{!-- burger image --}}
            <img src="/assets/img/burger.jpg" alt="burger drawing" width="200" height="200">

            <h3>Enter the name of a burger you'd like to add to your Burger Prey list.</h3>

            {{!-- save new burger form --}}
            <form class="save-form">

                <div class="form-group">
                    <textarea class="form-input" id="burger" name="name"></textarea>
                    <br>
                    <button type="submit">Save Burger</button>
                </div>



            </form>

        </div>

    </div>

</div>

<br>
<br>

{{!-- container for burgers added and burgers devoured --}}
<div class="container">

    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Burger Prey</th>
                <th scope="col"></th>
                <th scope="col">RIP... These burgers were devoured</th>
            </tr>
        </thead>
        <tbody>
            {{#each burgers}}
            <tr>
                <th scope="row"></th>
                {{#unless devoured}}
                <td>{{id}}. {{burger_name}}
                <td>
                    <button data-id="{{id}}" data-devoured="true" class="devour">Devour!</button>
                </td>
                {{/unless}}
                {{#if devoured}}
                <td>{{id}}. {{burger_name}}</td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>